<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva-2</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link href="../Areas/Reserva.css" rel="stylesheet">
    <script src="/controller/menu.js" type="text/javascript" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>

<body>

    <div class="sidebar close">
        <div class="sidebar1">
            <div class="header">
                <img src="/assets/logo.png" alt="Logo" class="logo">
                <div class="toggle-button">
                    <i class='bx bx-chevron-left toggle'></i>
                </div>
            </div>

            <ul class="buttons">
                <div class="back"></div>
                <li class="pay">
                    <div class="icon">
                        <a href="../pay/pay.html">
                            <i class='bx bxs-dollar-circle'></i>
                        </a>
                    </div>
                    <div class="text">
                        <p>Pagos</p>
                    </div>
                </li>
                <div class="back"></div>
                <li class="pqr">
                    <div class="icon">
                        <a href="../pqr/pqr.html">
                            <i class='bx bxs-error-circle'></i>
                        </a>
                    </div>
                    <div class="text">
                        <p>PQR</p>
                    </div>
                </li>
                <div class="back"></div>
                <li class="relase">
                    <div class="icon">
                        <a href="../advertisements/Anuncios.html">
                            <i class='bx bxs-bookmarks'></i>
                        </a>
                    </div>
                    <div class="text">
                        <p>Anuncios</p>
                    </div>
                </li>
                <div class="back"></div>
                <li class="package">
                    <div class="icon">
                        <a href="../packages/Paquetes.html">
                            <i class='bx bxs-package'></i>
                        </a>
                    </div>
                    <div class="text">
                        <p>Paquetes</p>
                    </div>
                </li>
                <div class="back"></div>
                <li class="area">
                    <div class="icon">
                        <a href="../Areas/Areas.html">
                            <i class='bx bxs-area'></i>
                        </a>
                    </div>
                    <div class="text">
                        <p>Areas</p>
                    </div>
                </li>

            </ul>

            <div class="theme">
                <div class="icon">
                    <i class='bx bxs-sun'></i>
                </div>
                <label class="switch">
                    <input type="checkbox" id="slider" checked>
                    <span class="slider"></span>
                </label>
                <div class="icon">
                    <i class='bx bxs-moon bx-rotate-270'></i>
                </div>
            </div>
        </div>
        <div class="sidebar2"></div>
        <div class="sidebar3"></div>

        <!----------------Vista Reserva-1------------->

            <div class="titulo">
                <p>AREAS</p>
            </div>
            <div class="Calendario">
                <div>
                    <h1 class="horas">Horas Disponibles</h1>
                    <ol class="Horario">

                        <li>0:00</li>
                        <li>1:00</li>
                        <li>2:00</li>
                        <li>3:00</li>
                        <li>4:00</li>
                        <li>5:00</li>
                        <li>6:00</li>
                        <li>7:00</li>
                        <li>8:00</li>
                        <li>9:00</li>
                        <li>10:00</li>
                        <li>11:00</li>
                        <li>12:00</li>
                        <li>13:00</li>
                        <li>14:00</li>
                        <li>15:00</li>
                        <li>16:00</li>
                        <li>17:00</li>
                        <li>18:00</li>
                        <li>19:00</li>
                        <li>20:00</li>
                        <li>21:00</li>
                        <li>22:00</li>
                        <li>23:00</li>
                    </ol>
                    <a href="#" class="custom-button">Enviar Reserva</a>
                    
                </div>
            </div>
    </div>
    <div class="user">
        <a href="../Profile/Perfil.html" class="profile">
            <i class='bx bxs-user'></i>
        </a>
        <div class="exit">
            <i class='bx bx-log-out bx-rotate-180' id="exit"></i>
        </div>
    </div>
</body>

</html>