*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
}

.path-arriba{
    height: 400px;
    width: 89.3vw;
    display: flex;
    text-align: start;
    justify-content: space-between;
}
.path-top-left{
    height: 200px;
    width: 200px;
}
.path-top-left .path1{
    height: 300px;
    width: 300px;
    display: flex;
    z-index: 3;
}
.path-top-left .path2{
    height: 330px;
    width: 330px;
    display: flex;
    z-index: 2;
    margin-top: -300px;
    opacity: 10;
}   
.path-top-left .path3{
    height: 345px;
    width: 345px;
    display: flex;
    z-index: 2;
    margin-top: -330px;
    opacity: 10;
}   
.path-top-rigth{
    height: 200px;
    width: 200px;
}
.path-top-rigth .path1{
    height: 280px;
    width: 280px;
    display: flex;
    z-index: 3;
    margin-left: 66px;

}
.path-top-rigth .path2{
    height: 300px;
    width: 300px;
    display: flex;
    z-index: 2;
    margin-top: -280px;
    margin-left: 46px;
}   
.path-top-rigth .path3{
    height: 320px;
    width: 320px;
    display: flex;
    z-index: 2;
    margin-top: -300px; 
    margin-left: 26px;

}   

.path1-bottom1{
    display: flex;
    position: fixed;
    height: 223px;
    margin-left: -10px;
    z-index: 3;
    transform: translateY(-80px);
}

.path1-bottom2{
    display: flex;
    position: fixed;
    height: 223px;
    margin-left: -10px;
    z-index: 1;
    transform: translateY(-95px);
}
.path1-bottom3{
    display: flex;
    position: fixed;
    height: 223px;
    margin-left: -10px;
    z-index: 1;
    transform: translateY(-110px);
}

.all{
    width: 90vw;
    height: 400px;
    display: flex;
    margin: auto;
    margin-top: -280px;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.all .logo img{
    height: 4rem;
    margin-right: 40px;
    margin-top: 20px;
}

.all .all-text{
    width: 90vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 5rem;
}

.all-text .inputs{
    height: 400px;
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.all-text .inputs .title{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}
.all-text .inputs .title p{
    font-size: 30px;
    color: #1970E0;
}

.all-text .inputs .content{
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.all-text .inputs .content p{
    font-size: 16px;
    color: #1970E0;
    margin-top: -30px;
}
.all-text .inputs .content input{
    border-style: none ;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: #1970E0 ;
    height: 25px;
    width: 300px;
    margin-top: 50px;
    padding-left: 10px;
    background-color: transparent ;
    font-size: 12px;
}
.all-text .inputs .content input:focus{
    outline: none ;
    font-size: 14px;
    color: rgb(82, 82, 82);
}
.all-text .inputs .content input[type="text"] {
    margin-top: -1px;
}
.all-text .inputs .button{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}
.all-text .inputs .button button {
    background-color: #1970E0;
    height: 40px;
    width: 130px;
    border-style: none;
    border-radius: 20px;
    z-index: 100;
}

.all-text .inputs .button button:hover{
    opacity: 80%;
    scale: 1.1;
}
.all-text .inputs .button button p{
    font-size: 15px;
    color: white;
}
.all-text .inputs .button button a{
    text-decoration: none;
}

.all-text .img img{
   width: 30vw;
}





